    :root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --light: #b5b5b5;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --lightgray: #707070;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
    --background: #fff;
    --box-shadow: rgba(85, 85, 85, 0.08) 0px 4px 6px 0px,
        rgba(0, 0, 0, 0.07) 0px 1px 20px 0px, rgba(0, 0, 0, 0.07) 0px 1px 11px 0px;
    --color: #007bff;
    --bordercolor: #007bff;
    --fontcolor: #007bff;
    --disable: #CBCBCB;
    }
    body {
        background-color:#e2e0e0;
        padding: 0;
        margin: 0;
    }

    .main-container {
        height: 100vh;
        /* margin: 0 auto;
        max-width: 1440px; */
    }

    .left {
        width: 85%;
        float: none;
        display: block;
        margin: 0 auto;
    }
    @media all and (max-width: 1024px) and (min-width: 700px) {
        .left {
            width: 20%;
            margin-left: 20px;
            float: left;
            display: inline-block;
            padding: 15px;
        }
    }
    @media all and (min-width: 1025px) {
        .left {
            float: left;
            width: 15%;
            margin-left: 20px;
            display: inline-block;
        }
    }

    .right {
        width: 85%;
        margin: 0 auto;
        top: 20px;
        position: relative;
    }
    @media all and (max-width: 1024px) and (min-width: 700px) {
        .right {
            top: 0;
            width: 70%;
            margin-left: 15px;
            display: inline-block;
        }
    }
    @media all and (min-width: 1025px) {
        .right {
            top: 0;
            width: 80%;
            float: right;
            margin-left: 15px;
            display: inline-block;
        }
    }
    .filterDetails {
        padding: 15px;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .filter_container {
        background: white;
        border-radius: 10px;
       
        
    }
    .btnContainer {
        position: relative;
        display: flex;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
    }
    .filterBtn {
        background-color: lightgreen;
        color: black;
        border-radius: 5px;
        padding: 10px;
        width: 30%;
        display: inline-block;
        margin-bottom: 10px;
        text-align: center;
        font-size: 16px;
        vertical-align: middle;
        margin-top: 0 auto;
        line-height: 10px;
        cursor: pointer;
    }
    @media all  and (min-width: 700px) {
        .filterBtn {
            width: 25%;
        }
    }
    .filterHeadings {
        text-align: center;
        display: block;
        margin-top: 20px;
        font-size: 18px;
    }
    .seperator {
        border-top: 1px solid #b5b5b5;
        width: 70%;
    }
    .card {
        float: none;
        width: auto;
        height: 400px;
        background: white;
        border-radius: 5px;
        margin-right: 0;
        margin-bottom: 20px;
        padding: 15px;
        font-size: 12px;
    }
    @media all and (max-width: 1024px) and (min-width: 700px) {
        .card {
            float: left;
            width: 38%;
            height: 450px;
            margin-bottom: 0;
            margin-right: 20px;
            font-size: 14px;
        }
    }
    @media all and (min-width: 1025px) {
        .card {
            float: left;
            width: 18%;
            margin-bottom: 0;
            margin-right: 20px;
            font-size: 16px;
            height: 500px;
        }
    }
    @media all and (min-width: 1500px) {
        .card {
            font-size: 18px;
        }
    }
    .selectedBtn {
        background-color: #28a745;
    }
    img.responsive {
        width: 100%;
        max-width: 200px;
        height: 200px;
    }